@import 'nav.css';
/* @import 'hero.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* --darkNavy: #00243A; */
  --darkNavy: #002c47;
  --textMain: #525875;
  --text: #636363;
  --primary: #407cd7;
  --primaryDark: #2d5796;
  --secondary: #da7047;
  --secondaryDark: #b25c3a;
  --white: #ffffff;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.45px;
  /* max-width: 1300px; */
  color: var(--textMain);
  margin: 0 auto;
  position: relative;
}

a {
  color: var(--textMain);
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: relative;
}

.logo a {
  padding: 0;
}

p {
  margin-bottom: 18px;
}

a.btn-primary {
  color: var(--white);
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 0.75em;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--primary);
  transition: 0.1s all ease-in;
}

a.btn-primary:hover {
  background: var(--primaryDark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  color: var(--darkNavy);
}

h1 {
  font-size: 3em;
  line-height: 1.15em;
  letter-spacing: -1px;
  margin-bottom: 8px;
}

h2 {
  font-size: 2em;
}

.subhead {
  font-weight: 700;
  color: var(--darkNavy);
  margin-bottom: 2px;
}

/* ************************** HERO ************************** */

.hero {
  height: 55vh;
  background-image: linear-gradient(225deg, #f1f8fe 0%, #e1eaf1 100%);
}

.brand a {
  padding-left: 0px;
}

.hero-container {
  height: 55vh;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-text {
  min-width: 600px;
  padding-bottom: 60px;
}

.hero h1 {
  max-width: 600px;
  z-index: 2;
}
.underliner {
  position: relative;
  z-index: 2;
}

.underliner:after {
  content: '';
  position: absolute;
  width: 97%;
  height: 1px;
  bottom: 12px;
  left: 3%;
  border-bottom: 8px solid var(--secondary);
  opacity: 0.6;
  z-index: -1;
}

.hero p {
  max-width: 400px;
}

.hero-img {
  height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
}

.hero-img img {
  height: 275px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.umucv {
  height: 26px;
  position: absolute;
  bottom: -32px;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .hero-img {
    display: none;
  }

  h1 {
    font-size: 2.5em !important;
  }

  .hero-container {
    max-width: 100%;

    display: flex;
    justify-content: center;
  }

  .hero-text {
    text-align: center;
    min-width: 100px;
    padding-bottom: 16px;
  }
}

.text-center {
  text-align: center;
}

.pattern-right {
  height: 400px;
  position: absolute;
  right: 0;
  z-index: -1;
  margin-top: 100px;
  opacity: 0.65;
}

.home-sec1 {
  padding-top: 128px;
}

.home-sec1 .home-row1 {
  display: block;
}

.home-sec1 .home-row1 p {
  max-width: 560px;
  padding-top: 12px;
  margin: auto auto;
  display: block;
}

.home-row2 {
  max-width: 750px;
  margin-top: 128px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.row2-left,
.row2-right {
  flex: 1;
}

.row2-left p {
  text-align: left;
  max-width: 385px;
  min-width: 300px;
  flex: 1;
}

.row2-right {
  flex: 1;
  width: 100%;
  display: inline-block;
}

.row2-right img {
  height: 142px;
  flex: 1;
}

/* ********************* MEDIA QUERIES ********************* */

@media only screen and (max-width: 1299px) {
  header,
  section,
  .hero,
  .home-sec1 {
    padding-left: 24px;
    padding-right: 24px;
  }

  section.hero {
    margin: 0 0;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.75em;
  }
  .underliner:after {
    border-bottom: 7px solid var(--secondary);
    bottom: 11px;
  }

  .umucv {
    bottom: 4px;
  }
}

@media only screen and (max-width: 450px) {
  /* body {
    font-size: 14px;
  } */
  .underliner:after {
    border-bottom: 5px solid var(--secondary);
  }
}
