* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.45px;
  /* max-width: 1300px; */
  color: #4a4a4a;
  margin: 0 auto;
  /* background: #f5f5f5; */
}

@media only screen and (max-width: 1299px) {
  header.header, section, .hero .hero-container {
    margin: 0 32px;
  }

  .navbar{
    margin-right: 80px;
  }
  section.hero {
    margin: 0 0;
  }
}

a {
  color: #4a4a4a;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: relative;
  position: relative;
}

.logo a {
  padding: 0;
}

p {
  margin-bottom: 18px;
}

a.btn-outlined {
  color: #ffffff;
  /* margin-top: 16px; */
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-weight: bold;
  text-transform: uppercase;
  background: #407cd7;
  transition: 0.1s all ease-in;
}
a.btn-outlined:hover {
  background: #3466af;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
}

h1 {
  font-size: 52px;
  color: #222222;
  line-height: 1.15em;
  letter-spacing: -1px;
  margin-bottom: 8px;
}

header {
  max-width: 1170px;
  margin: auto auto;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 26px 0;
  background: #ffffff;
}

header .logo {
  height: 20px;
}

/* NAVIGATION STYLING  */
.navbar {
  width: 100%;
}
header ul {
  float: right;
  list-style: none;
  display: flex;
}

header ul li {
  margin-right: 12px;
}

header ul li:last-child a {
  margin-right: 0;
  background: #da7047;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  transition: 0.1s all ease-in;
}

header ul li:last-child a:hover {
  background: #bf633f;
}

.nav-item-active {
  color: #111111;
  font-weight: bold;
}

header ul li:last-child {
  margin-right: 0;
}

.hero {
  height: 55vh;
  background-image: linear-gradient(225deg, #f1f8fe 0%, #e1eaf1 100%);
}

.hero-container {
  height: 55vh;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero-text {
  min-width: 600px;
  padding-bottom: 60px;
}

.hero h1 {
  max-width: 600px;
  z-index: 2;
}
.underliner {
  position: relative;
  z-index: 2;
}

.underliner:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 15px;
  left: 4%;
  border-bottom: 10px solid #da7047;
  opacity: 0.6;
  z-index: -1;
}

.hero p {
  max-width: 400px;
}

.hero-img {
  height: 100%;
  width: 50%;
  display: inline-block;
  position: relative;
}

.hero-img img {
  height: 275px;
  position: absolute;
  bottom: 0;
  right: 0;
}
