* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.45px;
  /* max-width: 1300px; */
  color: #4a4a4a;
  margin: 0 auto;
  /* background: #f5f5f5; */
}

@media only screen and (max-width: 1299px) {
  body {
    margin: 0 32px;
  }
}

a {
  color: #4a4a4a;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: relative;
  position: relative;
}

a.btn-outlined {
  color: #222222;
  margin-top: 16px;
  padding: 8px 16px;
  border: solid #222222 1px;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bold;
  text-transform: uppercase;
  background: RGBA(0, 0, 0, 0);
  letter-spacing: 0.7px;
  transition: 0.1s all ease-in;
}
a.btn-outlined:hover {
  background: RGBA(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
}

h1 {
  font-size: 56px;
  color: #222222;
  line-height: 1.15em;
  letter-spacing: -1px;
  margin-bottom: 8px;
}

header {
  max-width: 1300px;
  margin: auto auto;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 26px 0;
  background: #ffffff;
}

header .logo {
  height: 20px;
}

/* NAVIGATION STYLING  */
.navbar {
  width: 100%;
}
header ul {
  float: right;
  list-style: none;
  display: flex;
}

header ul li {
  margin-right: 12px;
}

header ul li:last-child a {
  margin-right: 0;
  background: #da7047;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

.nav-item-active {
  color: #111111;
  font-weight: bold;
}

header ul li:last-child {
  margin-right: 0;
}

.hero {
  /* height: 55vh; */
  background-image: linear-gradient(225deg, #f1f8fe 0%, #e1eaf1 100%);
  position: relative;
}

.hero-container {
  max-width: 1300px;
  margin: auto auto;
  display: flex;
  align-items: flex-end;
}

.hero-text {
  /* background: blue; */
  min-width: 600px;
  padding: 125px 0 200px 0;
  top: 20%;
  /* left: 10%; */
}

.hero h1 {
  max-width: 600px;
}

.hero p {
  max-width: 400px;
}

.home-hero-img {
  /* background: red; */
  width: 100%;
  display: inline-block;
}

img.home-hero {
  float: right;
  display: inline-block;
  /* position: absolute; */
  height: 325px;
  padding-right: 5vw;
}
